<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EveryCal: 에브리타임 시간표를 나의 캘린더로!</title>
{#    <link rel="stylesheet" href="../static/css/OneUI-Web/oui.css">#}
    <link rel="stylesheet" href="https://brainer-everycal-static.s3.ap-northeast-2.amazonaws.com/css/OneUI-Web/oui.css">
    <meta name="description" content="에브리타임의 시간표를 ical 형태로 바꿔 원하는 캘린더 앱에서 사용이 가능해요!">
    <meta name="naver-site-verification" content="9704ef6a11cd925c2bd35f0ace81dfab4ed4484d" />
</head>
<body>
<main class="container">
    <div class="oui-viewing">
        <!-- Viewing area -->
        <h1>학기가 시작하는 날과 끝나는 날을 넣어주세요.</h1>
    </div>
    <div class="oui-interaction">
        <!-- Interaction area -->
        <form action="/dwn_cal" method="get">
            <div class="oui-bubble">
                <p class="oui-overlay-bubble-item">에브리타임 공개 시간표</p>
                <div class="field clearfix date-range-start date-wrapper">
                    <div class="label">
                        <label for="start_date">시작하는 날</label>
                    </div>
                    <div class="input">
                        <input type="date" name="start_date" id="start_date" class="input-text" placeholder="dd/mm/yyyy"
                               required="required">
                    </div>
                </div>
                <div class="field clearfix date-range-start date-wrapper">
                    <div class="label">
                        <label for="end_date">끝나는 날</label>
                    </div>
                    <div class="input">
                        <input type="date" name="end_date" id="end_date" class="input-text" placeholder="dd/mm/yyyy"
                               required="required">
                    </div>
                </div>
                <ul>
                    <input type="url" name="schd_url" id="schd_url" placeholder="https://everytime.kr/@ABcD12efgHijkL"
                           required="required"/>
                    </button>
                </ul>

                <input type="submit" value="변환하기" class="oui-button oui-button--active">
            </div>
        </form>

        <a href="/opensourcelicense" target="_blank">오픈소스라이선스</a>
        <a href="/privacypolicy" target="_blank">개인정보처리방침</a>
        <a href="https://forms.gle/whDG3Hf5V4Fsqz2cA" target="_blank">문의하기</a>

        <div class="main-center-ad">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit="DAN-2RSU21xjAzhtuvZR"
                 data-ad-width="250"
                 data-ad-height="250"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit="DAN-QygTfgeCJALV5Igd"
                 data-ad-width="250"
                 data-ad-height="250"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

    </div>
</main>
</body>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
    import {getAnalytics} from "https://www.gstatic.com/firebasejs/9.6.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyCxQbb0uauM2mFNTytsnDu-dhmSqfirf10",
        authDomain: "every2cal.firebaseapp.com",
        projectId: "every2cal",
        storageBucket: "every2cal.appspot.com",
        messagingSenderId: "961780731455",
        appId: "1:961780731455:web:d036adf15e461e72fdb28a",
        measurementId: "G-3MBK0HHFE0"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
<script src="https://code.jquery.com/jquery-latest.js"></script>

<div class="oui-dialog-mask" id="guideModal"></div>
<div class="oui-dialog" id="guideModalContent">
    <div class="oui-dialog-header">
        사용방법
    </div>
    <ul>
        <li class="oui-bubble-item">에브리타임의 시간표를 열어주세요.</li>
        <li class="oui-bubble-item">우측 상단 설정 버튼을 눌러주세요.</li>
        <li class="oui-bubble-item">공개 범위를 '전체 공개'로 바꿔주세요.</li>
        <li class="oui-bubble-item">그리고 다시 설정에서 'URL 공유'를 통해 복사한 URL을 붙여주세요.</li>
        <li class="oui-bubble-item">모든 것이 완료됐어요. 그럼 이제 에브리타임을 끄고 즐기세요.</li>
    </ul>
    <button class="oui-button oui-button--active" id="closeBtn">닫기</button>
</div>

<script>
    document.querySelector('#closeBtn').addEventListener('click', function () {
        document.querySelector('#guideModal').style.display = 'none';
        document.querySelector('#guideModalContent').style.display = 'none';
    });
</script>
</html>

{#<link rel="stylesheet" href="../static/css/calendar.css">#}
<link rel="stylesheet" href="https://brainer-everycal-static.s3.ap-northeast-2.amazonaws.com/css/calendar.css">

<script src="../static/javascript/GetTableXML.js"></script>

<script>
    if ($("html").hasClass("no-touch")) {
        var $input, $btn;
        $(".date-wrapper").each(function (index) {
            $input = $(this).find("input");
            $btn = $(this).find(".calendar-btn");
            $input.attr("type", "text");
            var pickerStart = new Pikaday({
                field: $input[0],
                trigger: $btn[0],
                container: $(this)[0],
                format: "DD/MM/YYYY",
                firstDay: 1
            });
            $btn.show();
        });
    } else {
        $(".date-wrapper input").attr("type", "date");
        $(".calendar-btn").hide();
    }
</script>


<script src="https://cdn.jsdelivr.net/gh/SamsungInternet/OneUI-Web@master/oui-css/scripts/polyfill/focus-visible.js"
        defer>
</script>
<script src="https://cdn.jsdelivr.net/gh/SamsungInternet/OneUI-Web@master/oui-css/scripts/oui.js" defer></script>

<style>
    input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
        0 1px 1px rgba(255, 255, 255, 0.2);
        -webkit-transition: box-shadow 0.5s ease;
        -moz-transition: box-shadow 0.5s ease;
        -o-transition: box-shadow 0.5s ease;
        -ms-transition: box-shadow 0.5s ease;
        transition: box-shadow 0.5s ease;
    }

    input:focus {
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
        0 1px 1px rgba(255, 255, 255, 0.2);
    }
</style>

<script>
    import firebase from "firebase/compat";

    const analytics = firebase.analytics();
    firebase.analytics().logEvent('notification_received');

    document.addEventListener('DOMContentLoaded', function () {
        const loadEl = document.querySelector('#load');
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        // // The Firebase SDK is initialized and available here!
        //
        // firebase.auth().onAuthStateChanged(user => { });
        // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
        // firebase.firestore().doc('/foo/bar').get().then(() => { });
        // firebase.functions().httpsCallable('yourFunction')().then(() => { });
        // firebase.messaging().requestPermission().then(() => { });
        // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
        firebase.analytics(); // call to activate
        firebase.analytics().logEvent('tutorial_completed');
        firebase.performance(); // call to activate
        //
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

        try {
            let app = firebase.app();
            let features = [
                'auth',
                'database',
                'firestore',
                'functions',
                'messaging',
                'storage',
                'analytics',
                'remoteConfig',
                'performance',
            ].filter(feature => typeof app[feature] === 'function');
            loadEl.textContent = `Firebase SDK loaded with ${features.join(', ')}`;
        } catch (e) {
            console.error(e);
            loadEl.textContent = 'Error loading the Firebase SDK, check the console.';
        }
    });
</script>

{#ad style#}
<style>
    .main-center-ad {
        width: 250px;
        margin: auto;
        margin-top: 20px;
    }
</style>
